@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

* {
  font-family: 'Lato', sans-serif;
  transition: ease-in;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.tag-clip-path{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}
